<footer class='main-footer'>
  <span>Designed and developed by <a href="https://github.com/Lucas-Wong99">Lucas Wong</a> and <a href="https://github.com/devmikh">Mikhail Serebriakov</a></span>
  <span>Copyright &copy; 2020</span>
</footer>