<div class='item-container'>
  <div class='item-header'>
    <span>$<%= item.price / 100 %></span>
    <span>3 days ago</span>
  </div>
  <div class='item-main'>
    <img src="<%= item.image_url %>">
    <h3><%= item.name %></h3>
  </div>
  <div class='item-footer'>
    <i class="fas fa-star"></i>
  </div>
  
</div>