<form name="search-form" id="search-form">
  <div>
    <input type="text" name="input_string" placeholder="Search...">
  </div>
  <div>
    <input type="text" name="min_price" placeholder="Min price">
    <input type="text" name="max_price" placeholder="Max price">
    <input type="text" name="city" placeholder="City">
    <select name="order_by">
      <option value="date">Date</option>
      <option value="price_asc">Price &#x2191</option>
      <option value="price_desc">Price &#x2193</option>  
    </select>
  </div>
  <input type="submit" value="Submit">
</form>