<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet">

    </head>

  <body>
    <%- include('partials/_header') %>

    <section>
      <div class='layer'>
        <h1>Welcome!</h1>
        <p>Viral Clean is an advertisment website that targets the redistribution of cleaning supplies and personal hygiene items.</p>
        <a href='/items'>
          SHOP NOW
        </a>
      </div>
    </section>

    <%- include('partials/_footer') %>

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src="https://kit.fontawesome.com/cd7e20452a.js"></script>

  </body>
</html>
