@import 'utilities';

.main-footer {

  height: 140px;
  background-color: $myrtleGreen;

  @include flexColumnCenter;

  position: absolute;
  // left: 0;
  bottom: 0;
  width: 100%;

    font-size: 22px;
    color: darkgray;
    a {
      color: darkgray;
      text-decoration: underline;
    }
}