@mixin containerBorder {
  border-radius: 10px;
  border: 2px solid darkgrey;
}

.full-item-container {
  margin: 50px auto;
  padding: 40px;
  width: 90%;
  height: 80vh;
  background-color: rgb(236, 230, 230);
  @include containerBorder();

  display: flex;
  justify-content: space-around;

  .full-item-main {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    width: 50%;

    // @include containerBorder();
    
    .item-name {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .fa-star {
      font-size: 30px;
    }

    h2 {
      font-size: 30px;
      margin: 15px 0 0 0;
    }
  }

  .full-item-description {
    height: 75%;
    width: 100%;

    p {
      font-size: 18px;;
    }
  }

  .location-date-container {
    display: flex;
    flex-direction: column;
  }

  img {
    height: 80%;
    width: 40%;
    @include containerBorder();
  }

  .full-item-contact {
    display: flex;
    justify-content: space-around
  }

  .message-seller-form {
    display:  block;
  

    textarea {
      resize: none;
      width: 100%;
      padding: 10px;
      font-size: 18px;
      @include containerBorder();
    }

    button {
      padding: 14px 50px;
      margin-top: 15px;
      
      @include containerBorder();
      // height: 30%;
      // width: 40%;
    }
  }
}