@import 'utilities';

.full-item-container {
  @include containerBorder();
  display: flex;
  justify-content: space-around;
  margin: 50px auto;
  width: 90%;
  height: 80vh;
  padding: 40px;
  background-color: $azureishWhite;

  .full-item-main {
    @include flexColumn();
    width: 50%;
    padding: 0 20px;
    
    .item-name {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .fa-star {
        font-size: 30px;
      }

      .fa-star:hover {
        cursor: pointer;
        color: yellow;
      }
      
      .sell-button {
        position: relative;
        display: inline-block;

        .fa-dollar-sign {
          margin-right: 20px;
          font-size: 30px;
          color: darkgreen;
          
        }
        span {
          @include tooltip();
        }
      }

      .sell-button:hover {
        cursor: pointer;
        span {
          visibility: visible;
        }
      }

      .delete-button {
        position: relative;
        display: inline-block;
        .fa-trash-alt {
          font-size: 28px;
          color: red;
        }
        span {
          @include tooltip(); 
        }
      }

      .delete-button:hover {
        cursor: pointer;
        span {
          visibility: visible;
        }
      }
  
      .item-sold {
        font-size: 34px;
        color: red;
      }
    }

    h2 {
      margin: 15px 0 0 0;
      max-width: 90%;
      font-size: 30px;
    }
  }
  

  .full-item-description {
    width: 100%;
    height: 75%;

    p {
      font-size: 18px;;
    }
  }

  .location-date-container {
    @include flexColumn();

    span {
      font-size: 24px;
    }
  }

  img {
    @include containerBorder();
    width: 40%;
    height: 80%;
  }

  .full-item-contact {
    display: flex;
    justify-content: space-around;
  }

  .message-seller-form {
    display:  block;

    textarea {
      @include containerBorder();
      width: 100%;
      padding: 10px;
      resize: none;
      font-size: 18px;
    }

    button {
      @include containerBorder();
      margin-top: 15px;
      padding: 14px 50px;
      @include buttonStyling();
    }
    button:hover {
      @include buttonHoverFeatures();
    }
  }
}