@import 'utilities';

section {
  
  @include flexColumnCenter();

  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1583947215259-38e31be8751f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: 100% 100%;
  background-repeat: no-repeat;

  .layer {
    @include flexColumnCenter();

    border-radius: 10%;

    background-color: rgba(45, 121, 118, 0.5  );
    margin: auto;
    width: 70%;
    height: 70%;

    text-align: center;
    
    h1 {
      color: $plainWhite;
      font-size: 50px;
    }

    p {
      color: $plainWhite;
      font-size: 28px;
    }
  }

  a {
    text-decoration: none;
    height: 80px;
    width: 400px;
    border: 5px solid  $plainWhite;
    background-color: inherit;
    color:  $plainWhite;
    font-size: 50px;
    cursor: pointer;
  }
}