@import 'utilities';

.item-container {

  @include flexColumn();
  @include containerBorder;

  margin: 40px;
  width: 400px;
  height: 400px;
  padding: 20px;
  
  background-color:	$azureishWhite;
  font-size: 20px;
  color: $black;

  .item-header {
    display: flex;
    justify-content: space-between;
    height: 16%;

    .item-price {
      font-size: 30px;
    }
  }

  .item-main {
    @include flexColumn();
    align-items: center;
    height: 80%;

    a {
      text-decoration: none;
      color: $black;
    }

    img {
      @include containerBorder;
      max-width: 70%;
      max-height: 70%;
    }
  }

  .item-footer {
    height: 8%;

    .favourite-button:hover {
      cursor: pointer;
      color: yellow;
    }

    .item-sold {
      margin: 0;
      text-align: center;
      font-size: 34px;
      color: red;
    }
  }

}

.yellow {
  color: yellow;
}
