@import 'utilities';

.message-container {
  @include flexColumn;
  @include containerBorder();
  margin: 20px auto;
  width: 90%;
  padding: 30px;
  background-color: $azureishWhite;

  h2 {
    margin-top: 0;
  }

  .message-body {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .message-text {
      @include containerBorder();
      margin-right: 20px;
      width: 70%;
      padding: 10px;
      font-size: 18px;
      background-color: $plainWhite; 
    }

    .message-image {

      img {
        @include containerBorder();
        max-height: 100px;
      }
    }
  }

  .message-button-container {
    align-self: flex-end;

    .message-dialogue-button {
      @include containerBorder();
      margin-right: 50px;
      padding: 10px;
      text-decoration: none;
      @include buttonStyling();
    }

    .message-dialogue-button:hover {
      @include buttonHoverFeatures();
    }
  }
}
