@import 'utilities';

.messages-thread-container {
  @include flexColumn();
  @include containerBorder();

  margin: 40px auto;
  width: 60%;
  padding: 20px;

  background-color: $azureishWhite;

  h3 {
    margin-top: 0;
    text-align: center;
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    textarea {
      @include containerBorder();
      margin-bottom: 10px;
      width: 60%;
      padding: 10px;
      resize: none;
      outline: none;
    }

    button {
      @include containerBorder();
      margin-left: 10px;
      height: 60%;
      padding: 10px;
      @include buttonStyling();
    }
    button:hover {
      @include buttonHoverFeatures();
    }
  }

  .only-messages-container {
    @include flexColumn();

    .thread-own-message {
      @include containerBorder();
      align-self: flex-end;
      margin-bottom: 10px;
      max-width: 40%;
      padding: 10px;
      background-color: #69b0ab;
      color:white;
    }
  
    .thread-message {
      @include containerBorder();
      align-self: flex-start;
      margin-bottom: 10px;
      max-width: 40%;
      padding: 10px;
      background-color: $plainWhite;
    }
  }

  
}
