@mixin containerBorder {
  border-radius: 10px;
  border: 2px solid darkgrey;
}

.message-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
  padding: 30px;
  @include containerBorder();
  background-color: rgb(236, 230, 230);

  h2 {
    margin-top: 0;
  }

  .message-body {
    display: flex;
    justify-content: space-between;

    padding: 20px;

    .message-text {
      @include containerBorder();
      // flex-grow: 14;
      width: 70%;
      padding: 10px;
      margin-right: 20px;
      font-size: 18px;
    }

    .message-image {

      img {
        max-height: 100px;
        @include containerBorder();
      }
    }
  }

  .message-button-container {
    align-self: flex-end;

    .message-dialogue-button {
      @include containerBorder();
      text-decoration: none;
      padding: 10px;
      color: white;
      background-color: #333333;
      outline: none;
      margin-right: 50px;
    }


  }
}
