@import 'utilities';

$twentyPx: 20px;

.new-listing-container {
  @include flexColumn();
  @include containerBorder(); 
  align-items: center;
  margin: ($twentyPx * 3) auto;
  width: 90%;
  padding: $twentyPx * 2;
  background-color: $azureishWhite;

  h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    color: $black;
  }

  form {
    width: 90%;

    .price-name-container {
      display: flex;

       #name-input {
        width: 70%;
       }
       #price-input {
         width: 30%;
       }
    }

    .image-city-container {
      display: flex;

      #image-input {
        width: 50%;
      }
      #city-input {
        width: 50%;
      }
    }

    .new-item-form__field-wrapper {
      @include flexColumn();
      margin: 10px;

      label {
        font-size: 2em;
      }

      input {
        @include inputStyling();
        height: $twentyPx * 3;
      }
  
      textarea {
        @include inputStyling();
        resize: none;
      }

      button {
        @include containerBorder();
        margin: auto;
        width: 60%;
        height: $twentyPx * 3;
        font-size: 30px;
        @include buttonStyling();
      }
      button:hover {
        @include buttonHoverFeatures();
      }
    }
  }
}