@mixin tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.own-item-footer {
  display: flex;
  justify-content: space-around;

  .item-sold {
    margin: 0;
    color: red;
    font-size: 34px;
  }

  .sell-button {
    position: relative;
    display: inline-block;

    .fa-dollar-sign {
      color: darkgreen;
      
    }
    span {
      @include tooltip();
    }
  }

  .sell-button:hover {
    cursor: pointer;
    span {
      visibility: visible;
    }
  }

  .delete-button {
    position: relative;
    display: inline-block;
    .fa-trash-alt {
      color: red;
    }
    span {
      @include tooltip(); 
    }
  }

  .delete-button:hover {
    cursor: pointer;
    span {
      visibility: visible;
    }
  }

}
