@import 'utilities';

.own-item-footer {
  display: flex;
  justify-content: space-around;

  .item-sold {
    margin: 0;
    font-size: 34px;
    color: red;
  }

  .sell-button {
    position: relative;
    display: inline-block;

    .fa-dollar-sign {
      color: darkgreen;
    }
    span {
      @include tooltip();
    }
  }

  .sell-button:hover {
    cursor: pointer;
    span {
      visibility: visible;
    }
  }

  .delete-button {
    position: relative;
    display: inline-block;
    .fa-trash-alt {
      color: red;
    }
    span {
      @include tooltip(); 
    }
  }

  .delete-button:hover {
    cursor: pointer;
    span {
      visibility: visible;
    }
  }

}
