@import 'utilities';

#search-form {
  @include flexColumn;
  @include containerBorder;

  justify-content: space-around;
  align-items: center;

  margin: 40px auto 0 auto;
  width: 50%;
  height: 120px;

  background-color: $azureishWhite;

  .search-form-main-field {
    display: flex;
    width: 80%;

    input {
      width: 100%;
      padding: 10px;
    }

    .search-form-submit {
      border: none;
      padding: 0 20px;
      @include buttonStyling();
    }

    .search-form-submit:hover {
      @include buttonHoverFeatures();
    }

    .search-form-order {
      width: 20%;
      border-left: none;
      padding-left: 10px;
      background-color: $plainWhite;
    }

    .search-form-order:hover {
      cursor: pointer;
      background-color: $azureishWhite;
    }
  }

  .search-form-filters {
    display: flex;
    justify-content: space-between;
    width: 80%;

    input {
      width: 20%;
      padding: 5px;
    }
  }


}
