// See: https://sass-lang.com/
@import 'header';
@import 'item';
@import 'items-container';

body {
  padding-top: 120px;
  background-color: #EEE;

  font-family: 'Roboto', sans-serif;

  h1 {
    color: #244751;
  }
}
