// See: https://sass-lang.com/
@import 'header';
@import 'item';
@import 'items-container';
@import 'full-item';
@import 'new-listing-form';
@import 'search-form.scss';
@import 'home';

body {
  padding-top: 100px;
  background-color: #EEE;

  font-family: 'Roboto', sans-serif;

  h1 {
    color: #244751;
  }
}
