// See: https://sass-lang.com/
@import 'header';
@import 'item';
@import 'items-container';
@import 'full-item';
@import 'new-listing-form';
@import 'search-form';
@import 'home';
@import 'own_item';
@import 'message';
@import 'messages-container';
@import 'message-thread';
@import 'footer';

body {
  padding-top: 100px;
  background-color: #EEE;
  position: relative;
  padding-bottom: 140px;
  min-height: 100vh;

  // font-family: 'Roboto', sans-serif;
  font-family: 'Monda', sans-serif;

  h1 {
    color: #244751;
  }

  .fa-star {
    text-shadow: 0 0 3px #000;
  }
}
